{% load static %}
<img id="{{image}}" src="{% static image %}" style="width:100%; border: solid grey;">

<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById("{{image}}");
var modalImg = document.getElementById("img01");
var del_btn = document.getElementById("delete-button");
var captionText = document.getElementById("caption");
img.onclick = function(){
  modal.style.display = "block";
  modalImg.src = this.src;
  del_btn.attrs = this.id;
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}
</script>
